.body{
  overflow-y: hidden;
}
.fpc {
    display: flex;
    flex-direction : column;
    justify-content: space-evenly;
    
   
  }
.pathway{
  position: fixed;
  transform : translate(0px,-100px);
}

.sessions{
  position: absolute;
  transform : translate(800px,-1)
}
